<?xml version='1.0' encoding='utf-8'?>
<configuration>
    <connectionStrings>
        <clear />
        <add name="TripBooking"
        providerName="System.Data.SqlClient"
        connectionString="Persist Security Info=False;User ID=sa;Password=Admin@123;Initial Catalog=TripBooking;Server=ADMIN\DOTNETTEST" />
    </connectionStrings>
</configuration>